@font-face {
    font-family: 'wonderbarregular';
    src: url('font/wonder-webfont.woff2') format('woff2'),
         url('font/wonder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
background-color: #ffd9be !important;

}



.crystalButtons{
	height: 150px;
	width: 150px;
	border: 5px solid black;
	padding: 4px 4px;
	border: 4px solid black;
	

}

#header {
background-color: #8fe9da;
width: 40%;
text-align: center;
margin-left: auto;
margin-right: auto;
border: 4px solid black;
color: white;
font-family: wonderbarregular;
font-size: 40px !important;
width: 70%;

}


#instructions {
	background-color: yellow;
	width: 80%;
text-align: center;
margin-left: 110px;
border: 4px solid black;
	margin-top: 20px;
	margin-bottom: 10px;
}

.randomContain {
	background-color: black;
	color: white;
	width: 250px;
	font-size: 20px;
	text-align: center;
	float: left;
	margin: 10px 10px;
	height: 250px;

}

#number {
font-size: 80px;
text-align: center;

}

.score {
	background-color: #dd2c99;
	width: 150px;
	color: pink;
	float: left;
	text-align: center;
	height: 180px;
	margin: 10px 10px;
	border: 4px dotted black;
	
}

.buttons{
	float: left;
}

#redcrystal {
clear: both;

}

#orangecrsytal {
	clear: both;
}

#score {
	background-color: gray;
	width: 300px;
	text-align: center;

}

#totalScore {
	font-size: 100px;
}

.sparkle{
z-index: 3;
position: absolute !important;
width:20px;
height:20px;
background-color:red;
position:relative;
margin:20%;
box-shadow:0 0 0px 10px rgba(0,0,.5);
background:url(http://i.imgur.com/2T5M8.png?1);
 -webkit-animation:
 	sparkle .5s infinite steps(1),
 	movetop 2.5s infinite steps(1),
 	moveleft 3.5s infinite steps(1)	 
}


@keyframes sparkle {
  0%, 100%{background-position:0px 0}
  20%{background-position:20px 0}
  40%{background-position:40px 0}  
  60%{background-position:60px 0}
  80%{background-position:80px 0}
  position 
}
@keyframes movetop {
  0%, 100%{top:0;}
  20%{top:75px;} 
  40%{top:30px;}  
  60%{top:100px;}
  80%{top:10px}
}

@keyframes moveleft {
  0%, 100%{left:50px}
  14.28%{ left:10px}
  28.57%{ left:90px}  
  42.85%{ left:35px}
  57.14%{ left:20px}
  71.42%{ left:60px}
  85.71%{ left:80px}

}

#sparkle2{
z-index: 3;
position: absolute !important;
width:20px;
height:20px;
background-color:red;
position:relative;
margin:20%;
box-shadow:0 0 0px 10px rgba(0,0,.5);
background:url(http://i.imgur.com/2T5M8.png?1);
 -webkit-animation:
 	sparkleTWO .5s infinite steps(1),
 	movetopTWO 2.5s infinite steps(1),
 	moveleftTWO 3.5s infinite steps(1)	 
}

@keyframes sparkleTWO {
  0%, 100%{background-position:40px 40px}
  20%{background-position:100px 0}
  40%{background-position:140px 0}  
  60%{background-position:160px 0}
  80%{background-position:180px 0}
  position 
}
@keyframes movetopTWO {
  0%, 100%{top:0;}
  20%{top:175px;} 
  40%{top:130px;}  
  60%{top:200px;}
  80%{top:110px}
}

@keyframes moveleftTWO {
  0%, 100%{left:150px}
  14.28%{ left:110px}
  28.57%{ left:190px}  
  42.85%{ left:135px}
  57.14%{ left:120px}
  71.42%{ left:160px}
  85.71%{ left:1x80px}

}

